<div id="myToast" class="toast" aria-live="assertive" aria-atomic="true" style:"display:none;"
    style="background-color: #fff3cd; border-left: 0px solid #f0ad4e; box-shadow: 0 4px 8px rgba(0,0,0,0.1); border-radius: 6px;">

    <div class="toast-header">
        <i class="fas fa-exclamation-triangle text-warning me-2"></i>
        <strong class="me-auto text-warning">Peringatan</strong>
        <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>

    <div class="toast-body text-dark">
        <span id="messageAlert"></span>
    </div>
</div>

<script>
function showToast(message,Id) {
    const toast = document.getElementById(Id);
    if (!toast) {
        console.error(`Elemen dengan id '${Id}' tidak ditemukan.`);
        return;
    }
    //toast.textContent = message;
    $("#messageAlert").text(message);
    toast.classList.add("show");
    setTimeout(() => {
        toast.classList.remove("show");
    }, 3000);
}
</script>
