<div class="app-body pb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="home-cart mt-0">
                    <div class="delivery-dts">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="login-top position-relative">
                                    <div class="logo-section">
                                        <h5 class="fs-4 fw-6 text-white mb-2">Create An Account</h5>
                                        <p class="text-white fs-7 fw-4"> Enter your details informations</p>
                                    </div>
                                    <a href="javascript:void(0);" class="back-btn text-white"><i class="bi bi-arrow-left" onclick="window.history.back()"></i></a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="login-bottom p-4">
                                    <input class="form-input input-shadow w-100 br-8 fs-7" type="text" placeholder="Username*">
                                    <input class="form-input input-shadow w-100 br-8 fs-7 mt-3" type="text" placeholder="Email or Mobile Number*">
                                    <input class="form-input input-shadow w-100 br-8 fs-7 mt-3" type="password" placeholder="Password*">
                                    <input class="form-input input-shadow w-100 br-8 fs-7 mt-3" type="password" placeholder="Confirm Password*">
                                    <a href="app-signin-otp.html" class="main-btn btn-hover w-100 h_50 br-8 mt-3">Sign Up</a>
                                    <div class="d-flex align-items-center mt-3">
                                        <div class="address-check checkboxes p-0 border-0 mt-0">
                                            <input id="check-address" type="checkbox" name="addressCheckbox" checked="">
                                            <label for="check-address">I have read with Terms & Conditions.</label>
                                        </div>																						
                                    </div>
                                    <div class="other-login">
                                        <div class="new-quite border_bottom position-relative mt-5">
                                            <span class="or-text">Or Connect With</span>
                                        </div>
                                        <ul class="social-icons ps-0 d-block text-center">
                                            <li><a href="#" class="social-btn go-bg"><img src="~/icons/google.svg" alt=""></a></li>
                                            <li><a href="#" class="social-btn fb-bg"><img src="~/icons/facebook.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="register-section text-center mt-5">
                                        <p class="fs-9 b-color mb-3">If you already have an account?</p>
                                        <a href="app-signin.html" class="main-btn btn-hover w-100 h_50 br-8">Sign In</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>					
                </div>						
            </div>
        </div>
    </div>
</div>