

<script>
    var $;

    document.addEventListener('DOMContentLoaded', function () {
        if (typeof window.jQuery === 'undefined') {
            console.error('jQuery is not loaded.');
            return;
        }
        $ = window.jQuery;
        var user = getUserInfo();
        if (isValidUser(user)) {
            $("#SalamWaktu").html(`${getSalamWaktu()},`);
            $("#Username").html(`${user.username}`);
            
        }
        else {


            var cr =
                `
                <button class="btn btn-warning btn-sm rounded-pill w-100" 
                    onclick="showLogin();" id="btnLogin" 
                    style="background: linear-gradient(to right, #6668df, #4b4db8); border-color: #6668df; color: white;"
                >
                    <i class="bi bi-exclamation-circle me-1"></i> Login sekarang
                </button>

            `;
            $("#Username").html(cr);

        }
    });
    

    function showLogin() {
        $("#TitleModalLogin").text("Selamat datang");
        $("#btnClsModalLogin").show();
        $('#ModalLogin').modal('show');
    }

    function CloseModalLogin() {
        $('#ModalLogin').modal('hide');
    }


</script>