<div class="col-12">
    <div class="mt-4">
        <div class="welcome-text">
            <h3 class="mb-3">
                Hai,
                <button class="btn btn-warning btn-sm rounded-pill px-3">
                    <i class="bi bi-exclamation-circle me-1"></i> Login sekarang
                </button>
            </h3>

            <div class="position-relative">
                <input class="form-input input-shadow ps-5" type="text" placeholder="Kamu lagi butuh jasa apa?">
                <i class="bi bi-search search-icon-lg"></i>
            </div>
        </div>
    </div>
</div>