<div class="col-12">
    <div class="mt-4">
        <div class="welcome-text">
            <h3 class="mb-3">
                <span id="SalamWaktu"></span>,
                <span id="Username"></span>

            </h3>

            <div class="position-relative">
                <input class="form-input input-shadow ps-5" type="text" placeholder="Kamu lagi butuh jasa apa?">
                <i class="bi bi-search search-icon-lg"></i>
            </div>
        </div>
    </div>
</div>

<script>
    var $;

    document.addEventListener('DOMContentLoaded', function () {
        if (typeof window.jQuery === 'undefined') {
            console.error('jQuery is not loaded.');
            return;
        }
        $ = window.jQuery;
        var user = getUserInfo();
        if (isValidUser(user)) {
            $("#SalamWaktu").html(getSalamWaktu());
            $("#Username").html(`${user.username}`);
        }
        else {
            var cr =
                `
                <button class="btn btn-warning btn-sm rounded-pill px-3" 
                    onclick="showLogin();" id="btnLogin">
                    <i class="bi bi-exclamation-circle me-1"></i> Login sekarang
                </button>
            `;
            $("#Username").html(cr);
        }
    });

    function showLogin() {
        $("#TitleModalLogin").text("Selamat datang");
        $("#btnClsModalLogin").show();
        $('#ModalLogin').modal('show');
    }

    function CloseModalLogin() {
        $('#ModalLogin').modal('hide');
    }

</script>