@{
    ViewData["Title"] = "Home Page";
    ViewData["Header"] = "1";
    ViewData["Footer"] = "1";
    ViewData["SelectedFooter"] = "Home";
}

@await Html.PartialAsync("_ModalAddressManage")
<div class="app-body pb-30">
    <div class="container">
        <div class="row">
            @await Html.PartialAsync("_promo")
            @await Html.PartialAsync("_headerName")
            @await Html.PartialAsync("_layananGrid")
            @await Html.PartialAsync("_EtalaseProduct")
        </div>
    </div>
</div>
