<div class="item-imgs mt-4">
    <div class="owl-carousel imgItem-slider owl-theme" id="bannerLayanan">
        @for (int i = 0; i < 4; i++)
        {
            <div class="item">
                <div class="item-card p-0 br-10 border">
                    <div class="item-img p-0">
                        <div class="skeleton-img br-8" 
                            style="width:100%;background:#e0e0e0;animation:pulse 1.5s infinite;"></div>
                    </div>
                </div>
            </div>
        }
        <style>
            @@keyframes pulse {
                0% { opacity: 1; }
                50% { opacity: 0.5; }
                100% { opacity: 1; }
            }
            .skeleton-img {
                display: block;
            }
        </style>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (typeof window.jQuery === 'undefined') {
        console.error('jQuery is not loaded.');
        return;
        }
        var $ = window.jQuery;
        
        callApi({
            url: '/api/Layanan/BannerLayanan?Id=@ViewData["Id"]',
            method: 'GET',
            success: function (data) {
                var html = $.map(data, function (item) {
                    var scr = "";
                    scr = `
                    <div class="item">
                        <div class="item-card border rounded-3 overflow-hidden shadow-sm bg-white">
                            <div class="item-img position-relative" style="background-color: #f2f2f2;">
                            <img
                                src="${item.img_banner}"
                                alt="${item.nama_banner}"
                                class="w-100 h-100 object-fit-cover"
                                style="transition: transform 0.3s ease;"
                            >
                            </div>
                        </div>
                    </div>
                    `;
                    return scr;
                }).join('');
                $('#bannerLayanan').html(html);
                $('.imgItem-slider').owlCarousel({
                    loop: true,
                    margin: 10,
                    //nav: true,
                    autoplay: true,
                    autoplayTimeout: 3000,
                    autoplayHoverPause: true,
                    responsive: {
                        0: { items: 1 },
                        600: { items: 2 },
                        1000: { items: 3 }
                    }
                });
                lazyAnimateItems("bannerLayanan");
            },
            error: function (err) {
                alert('Error: ' + err);
            }
        });

    });
    </script>