<style>
  .rc-item-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 8px;
    flex-shrink: 0; /* Biar ukuran tetap */
  }

  .rc-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
     @@keyframes fadeIn {
        from { opacity: 0; transform: translateY(10px); }
        to { opacity: 1; transform: translateY(0); }
    }
</style>

<div class="main-title text-left d-flex align-items-center mb-3">
    <h5 class="mb-0 fw-6 b-color">Layanan Cuci AC</h5>
</div>
<div class="items-group">
<!-- Loading skeletons -->       
    <ul class="recommend-items ps-0" id="ListLayanan">
        @await Html.PartialAsync("_SkeltonLoading")
    </ul>
    <hr>
    <div class="total-harga d-flex justify-content-between align-items-center">
        <p class="mb-0">Total Harga Reguler :</p>
        <span class="total-harga fw-bold" id="TotalHargaReguler">Rp 0</span>
    </div>
    <br>
</div>

<script>
    var $;
    
    document.addEventListener('DOMContentLoaded', function () {
        if (typeof window.jQuery === 'undefined') {
        console.error('jQuery is not loaded.');
        return;
        }
        $ = window.jQuery;
      
        Storage.remove("CartData");
        (async () => {
            try {

                const data = await getDataLayanan();
                if(data.length>1){
                    renderData(data);
                }
                else
                {
                    const detail = await getDataLayananDetail(data[0].id);
                    if(detail.length>0){
                        renderDataDetail(detail);
                    }
                }
                
            } catch (err) {
                console.error('Error:', err);
            }
        })();
    });
    
    async function getDataLayanan() {
        return await new Promise((resolve, reject) => {
            callApi({
                url: '/api/Layanan/JasaLayanan?Id=@ViewData["Id"]',
                method: 'GET',
                success: function (data) {
                    resolve(data);
                },
                error: function (err) {
                    reject(err);
                }
            });
        });
    }

    async function getDataLayananDetail(Id) {
        return await new Promise((resolve, reject) => {
            callApi({
                url: '/api/Layanan/JasaLayananDetail?Id=' + Id + '',
                method: 'GET',
                success: function (data) {
                    resolve(data);
                },
                error: function (err) {
                    reject(err);
                }
            });
        });
    }

    function renderData(data){
        var html = $.map(data, function (item) {
          var scr = "";
          scr = `
                  <div
                      class="list-group-item d-flex align-items-center justify-content-between mb-2 border rounded">
                      <div class="d-flex align-items-center">
                          <img src="${item.img_jasa}" alt="" class="rounded-circle me-3"
                              style="width:40px;height:40px;object-fit:cover;">
                          <span>${item.nama_jasa}</span>  
                      </div>
                      <a class="btn btn-outline-primary btn-sm rounded-circle" 
                          href="#ModalLayanan"
                          data-bs-toggle="modal" 
                          data-namalayanan="${item.nama_jasa}" 
                          data-id="${item.id}"
                      >
                          <i class="bi bi-plus"></i>
                      </a>
                  </div>
                  
                `;
          return scr;
        }).join('');

      $('#ListLayanan').html(html);
    }
    
    function renderDataDetail(data){
        var html = $.map(data, function (item) {
            //console.log("Data Detail");
            //console.log(item);
            var diskon = ``;
            let hargaAkhir = item.harga_satuan - item.diskon;
            if(hargaAkhir < item.harga_satuan){
              diskon = `
                <span class="item-weight-count">
                    <span class="text-decoration-line-through text-muted me-2">
                        ${formatRupiah(item.harga_satuan)}
                    </span>
                </span>`;
            }
            var scr =`
                <li class="list-group-item">
                    <div class="rc-item d-flex align-items-center justify-content-between">
                        <!-- Kiri: Gambar + deskripsi -->
                        <div class="rc-item-left d-flex align-items-center">
                            <div class="rc-item-img position-relative border br-8 flex-shrink-0">
                                <img src="${item.img_url}" alt="">
                            </div>
                            <div class="rc-item-content ms-3">
                                <p class="fw-bold mb-1">${item.nama_detail_jasa}</p>
                                <span class="b-color d-block fs-6 fw-5">${formatRupiah(hargaAkhir)}</span>
                                ${diskon}
                            </div>
                        </div>

                        <!-- Kanan: Counter -->
                        <div class="rc-item-right flex-shrink-0">
                            <div class="cart-counter text-end">
                                <p>Jumlah AC</p>
                                <div class="input-group input-group-sm mb-2">
                                    <button class="btn btn-outline-primary minus" type="button">-</button>
                                    <input type="text" class="form-control text-center" 
                                        value="0" 
                                        data-harga=${hargaAkhir} 
                                        data-detaillayanan=${encodeURIComponent(item.nama_detail_jasa)}
                                        data-id=${item.id}
                                        >
                                    <button class="btn btn-outline-primary plus" type="button">+</button>
                                </div>
                                <span class="total-harga fw-bold">${formatRupiah(0)}</span>
                            </div>
                        </div>
                    </div>
                </li>
            `;
            return scr;
        }).join('');
        $("#ListLayanan").html(html);
        initHandleEventButtonPlusMinus();

    }

    function initHandleEventButtonPlusMinus(){
            let totalQty = 0;
            
            document.querySelectorAll(".plus").forEach(function (btn) {
                btn.addEventListener("click", function () {
                    let input = this.parentElement.querySelector("input");
                    let harga = parseInt(input.dataset.harga) || 0;
                    let currentValue = parseInt(input.value) || 0;
                    var detaillayanan = decodeURIComponent(input.dataset.detaillayanan);
                    let _id = parseInt(input.dataset.id);
                    currentValue++;
                    input.value = currentValue;
                    totalQty++;
                    
                    // Cek apakah layanan ini sudah ada di cartData
                    let existingItem = cartData.find(item => item.nama === detaillayanan);
                    if (existingItem) {
                        existingItem.qty = currentValue; // update qty sesuai input terbaru
                    } else {
                        cartData.push({
                            id: _id,
                            nama: detaillayanan,
                            harga: harga,
                            qty: currentValue
                        });
                    }

                    let total = harga * currentValue;
                    this.closest(".cart-counter")
                        .querySelector(".total-harga").textContent = formatRupiah(total);
                    
                    const totalHarga = cartData.reduce((sum, item) => sum + (item.harga * item.qty), 0);
                    $("#TotalHargaReguler").text(formatRupiah(totalHarga));
                    TotalHargaAkhir = totalHarga;
                    ShowHideBerlangganan(totalQty);
                    
                });
            });

            document.querySelectorAll(".minus").forEach(function (btn) {
                btn.addEventListener("click", function () {
                    let input = this.parentElement.querySelector("input");
                    let harga = parseInt(input.dataset.harga) || 0;
                    let currentValue = parseInt(input.value) || 0;
                    var detaillayanan = decodeURIComponent(input.dataset.detaillayanan);
                    let _id = parseInt(input.dataset.id);
                    if (currentValue > 0) {
                        currentValue--;
                        input.value = currentValue;
                        totalQty--;
                        
                        // Cek apakah layanan ini sudah ada di cartData
                        let existingItem = cartData.find(item => item.nama === detaillayanan);
                        if (existingItem) {
                            if(currentValue == 0){
                                let index = cartData.findIndex(item => item.nama === detaillayanan);
                                if (index !== -1) {
                                    cartData.splice(index, 1);
                                }
                            }
                            existingItem.qty = currentValue; // update qty sesuai input terbaru
                        } else {
                            cartData.push({
                                id: _id,
                                nama: detaillayanan,
                                harga: harga,
                                qty: currentValue
                            });
                        }
                        //Storage.set("CartData",cartData);
                        ShowHideBerlangganan(totalQty);
                        let total = harga * currentValue;
                        this.closest(".cart-counter")
                            .querySelector(".total-harga").textContent = formatRupiah(total);

                        const totalHarga = cartData.reduce((sum, item) => sum + (item.harga * item.qty), 0);
                        $("#TotalHargaReguler").text(formatRupiah(totalHarga));
                        TotalHargaAkhir = totalHarga;
                    }
                });
            });
            
        }

    function ShowHideBerlangganan(totalQty){
        if(totalQty>0){
            //var cart = Storage.get("CartData");
            LoadDataPaket(cartData);
            // Reset input tanggal
            document.getElementById('tanggalAwal').value = '';

            // Kosongkan list jadwal
            document.getElementById('listJadwal').innerHTML =`<p class="text-muted small m-0 p-3">Jadwal akan muncul setelah memilih paket & tanggal mulai.</p>`;
            paketDipilih = "";
            $("#panelberlangganan").show();
        }
        else{
            $("#panelberlangganan").hide();
             document.getElementById('tanggalAwal').value = '';
            document.getElementById('listJadwal').innerHTML =`<p class="text-muted small m-0 p-3">Jadwal akan muncul setelah memilih paket & tanggal mulai.</p>`;
            paketDipilih = "";
        }
    }
</script>