<div class="items-group">
    <div class="form-group">
        <div class="row g-2" id="listJenisProperti">
            @for (int i = 0; i < 2; i++)
            {
                <div class="col-12 mb-2">
                    <div class="skeleton skeleton-text" style="height: 16px; width: 90%; margin-bottom: 6px;"></div>
                    <div class="skeleton skeleton-text" style="height: 16px; width: 80%; margin-bottom: 6px;"></div>
                </div>
            }
            
        </div>
    </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (typeof window.jQuery === 'undefined') {
      console.error('jQuery is not loaded.');
      return;
    }
    var $ = window.jQuery;

    

      $.getJSON('/api/Layanan/JenisProperti?Id=@ViewData["Id"]', function (data) {
          var html = $.map(data, function (item) {
              var scr = "";
              scr = `
                <div class="col-12 d-flex justify-content-between align-items-center border rounded p-2 mb-0">
                    <span>${item.nama_jenis}</span>
                    <span>Rp ${Number(item.harga).toLocaleString('id-ID')}<span>
                        <input class="form-check-input ms-2" type="radio" id="properti${item.id}"
                            name="JenisProperti" value="${item.nama_jenis}:${item.harga}">
                    </span></span>
                </div>
              `;
              return scr;
          }).join('');

          $('#listJenisProperti').html(html);
          lazyAnimateItems("listJenisProperti");
        var jenisProperti = Storage.get('jenis_properti') || [];

        if (jenisProperti.length > 0) {
            // Set radio button yang sesuai dengan jenis properti yang disimpan
            $('input[name="JenisProperti"][value="' + jenisProperti[0].nama_jenis + ':' + jenisProperti[0].harga + '"]').prop('checked', true);
        }
    });
    $(document).on('change', 'input[name="JenisProperti"]', function () {
        const jenisProperti = $(this).val();
        const [nama, harga] = jenisProperti.split(':');
        var j = [];
        j.push({
            nama_jenis: nama,
            harga: Number(harga.replace(/\./g, '')) // Menghapus titik untuk mengonversi ke angka
        });
        
        // Simpan ke localStorage
        Storage.set('jenis_properti', j);
        $('#totalHargaPesanan').text('Rp ' + CalculateTotal().toLocaleString() || '0');
    });
  });
</script>