<div class="pb-0" id="sessionBanner">
    @await Html.PartialAsync("_BannerLayanan")
</div>
<div class="pb-10" id="sessionJasaLayanan">
    @await Html.PartialAsync("_JasaLayananV2")
</div>
<div class="pb-30" id="sessionBerlangganan">
    @await Html.PartialAsync("_berlangganan")
</div>
<div class="pb-30" id="sessionWaktuKunjunganReguler">
    @await Html.PartialAsync("_WaktuKunjunganReguler")
</div>
<div class="pb-30" id="sessionJenisProperti">
    @await Html.PartialAsync("_JenisProperti")
</div>
