<div class="item-imgs mt-4">
    <div class="owl-carousel imgItem-slider owl-theme" id="promoSlider">
        <div class="item">
            <div class="item-card p-2 br-10 border">
                <div class="item-img p-2">
                    <img class="br-8" src="~/img/offers/offer-1.png" alt="Promo AC">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-card p-2 br-10 border">
                <div class="item-img p-2">
                    <img class="br-8" src="~/img/offers/offer-1.png" alt="Promo AC">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-card p-2 br-10 border">
                <div class="item-img p-2">
                    <img class="br-8" src="~/img/offers/offer-1.png" alt="Promo AC">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-card p-2 br-10 border">
                <div class="item-img p-2">
                    <img class="br-8" src="~/img/offers/offer-1.png" alt="Promo AC">
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#promoSlider').owlCarousel({
                    items: 4,
                    loop: true,
                    margin: 10,
                    autoplay: true,
                    autoplayTimeout: 100,
                    autoplayHoverPause: true,
                    dots: true,
                    nav: false
                });
            });
        </script>
    }
</div>