@{
    ViewData["Title"] = "Layanan";
    ViewData["Header"] = "2";
    ViewData["Footer"] = "3";
    ViewData["HeaderName"] = "Layanan - " + ViewData["NamaLayanan"];
}

<!-- App Body Start -->

<div class="app-body pb-30">
    @await Html.PartialAsync("_ModalLayanan")
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="item-dts mt-4">
                    @await Html.PartialAsync("_PromoLayanan")
                    @await Html.PartialAsync("_InfoLayanan")
                </div>
            </div>

            <div class="col-12">
                <div class="mt-30">
                    <div class="main-title text-left d-flex align-items-center mb-3">
                        <h5 class="mb-0 fw-6 b-color">Keluhan / masalah *</h5>
                    </div>
                    @await Html.PartialAsync("_KeluhanMasalah")
                    <div class="alert alert-warning mt-3" role="alert">
                        * Garansi tidak berlaku untuk layanan cuci AC & jasa pengecekan
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mt-30">
                    <div class="main-title text-left d-flex align-items-center mb-3">
                        <h5 class="mb-0 fw-6 b-color">Layanan yang Anda Butuhkan</h5>
                    </div>
                    @await Html.PartialAsync("_JasaLayanan")
                </div>
            </div>
            <div class="col-12">
                <div class="mt-30">
                    <div class="main-title text-left d-flex align-items-center mb-3">
                        <h5 class="mb-0 fw-6 b-color">Jenis properti Anda? *</h5>
                    </div>
                    @await Html.PartialAsync("_JenisProperti")
                    <div class="alert alert-warning mt-3" role="alert">
                        Bagi customer yang melakukan pemesanan untuk unit apartment, mohon mempersiapkan surat izin
                        untuk mitra ACD dari pihak gedung sebelum waktu pengerjaan dilakukan.
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="mt-30 mb-30">
                    <div class="main-title text-left d-flex align-items-center mb-3">
                        <h5 class="mb-0 fw-6 b-color">Kapan Anda membutuhkan layanan? *</h5>
                    </div>
                    <div class="items-group">
                        <div class="form-group mb-3">
                            <label for="tanggalLayanan" class="form-label">Pilih Tanggal</label>
                            <input type="date" class="form-control" id="tanggalLayanan" name="TanggalLayanan" required>
                        </div>
                        <div class="form-group">
                            <label for="jamLayanan" class="form-label">Pilih Jam</label>
                            <input type="time" class="form-control" id="jamLayanan" name="JamLayanan" required>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- App Body End -->
<!-- Footer -->
<div class="gobo-custom-footer gobo-shadow fixed-bottom m-0 px-2 py-2 text-center">
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col">
                <div class="cart-total text-start">
                    <div class="total-text b-color fw-5 fs-6">Estimasi Harga :</div>
                    <div class="total-text b-color fw-5 fs-6">Rp 20.000</div>
                </div>
            </div>
            <div class="col">
                <a href="@Url.Action("Index", "CustomerInfo")"
                    class="main-btn btn-hover w-100 fw-4 h_40 br-8">Lanjutkan</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
