@{
    ViewData["Title"] = "Layanan";
    ViewData["Header"] = "2";
    ViewData["Footer"] = "3";
    ViewData["HeaderName"] = "Layanan - " + ViewData["NamaLayanan"];
}

<!-- App Body Start -->
<div class="app-body pb-30">
    @await Html.PartialAsync("_ModalLayanan")
    @await Html.PartialAsync("_Toast")
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="item-dts mt-0">
                    @await Html.PartialAsync("_BannerLayanan")
                    @await Html.PartialAsync("_InfoLayanan")
                </div>
            </div>
            <div class="col-12" id="sessionKeluhan" tabindex="-1">
                <div class="mt-30" id="panelKeluhan" style="display:none;">
                    <div class="main-title text-left d-flex align-items-center mb-3">
                        <h5 class="mb-0 fw-6 b-color">Keluhan / masalah *</h5>
                    </div>
                    @await Html.PartialAsync("_KeluhanMasalah")
                    <div class="alert alert-warning mt-3" role="alert">
                        * Garansi tidak berlaku untuk layanan cuci AC & jasa pengecekan
                    </div>
                </div>
            </div>
            <div class="col-12" id="sessionJasaLayanan" tabindex="-1">
                <div class="mt-10" id="panelLayananDibutuhkan">
                    <div class="main-title text-left d-flex align-items-center mb-3">
                        <h5 class="mb-0 fw-6 b-color">Layanan @ViewData["NamaLayanan"]</h5>
                    </div>
                    @await Html.PartialAsync("_JasaLayananV2")
                </div>
            </div>

            <div class="col-12" id="sessionJenisProperti" tabindex="-1">
                <div class="mt-30">
                    <div class="main-title text-left d-flex align-items-center mb-3">
                        <h5 class="mb-0 fw-6 b-color">Jenis properti Anda? *</h5>
                    </div>
                    @await Html.PartialAsync("_JenisProperti")
                    <div class="alert alert-warning mt-3" role="alert">
                        Bagi customer yang melakukan pemesanan untuk unit apartment, mohon mempersiapkan surat izin
                        untuk mitra ACD dari pihak gedung sebelum waktu pengerjaan dilakukan.
                    </div>

                </div>
            </div>
            <div class="col-12" id="sessionWaktu" tabindex="-1">
                <div class="mt-30 mb-30">
                    <div class="main-title text-left d-flex align-items-center mb-3">
                        <h5 class="mb-0 fw-6 b-color">Kapan Teknisi kami mengunjungi Anda? *</h5>
                    </div>
                    <div class="items-group">
                        <div class="form-group mb-3">
                            <label for="tanggalLayanan" class="form-label">Pilih Tanggal</label>
                            <input type="date" class="form-control" id="tanggalLayanan" name="TanggalLayanan" required>
                        </div>
                        <div class="form-group">
                            <label for="jamLayanan" class="form-label">Pilih Jam</label>
                            <input type="time" class="form-control" id="jamLayanan" name="JamLayanan" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- App Body End -->
<!-- Footer -->
<div class="gobo-custom-footer gobo-shadow fixed-bottom m-0 px-2 py-2 text-center">
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col">
                <div class="cart-total text-start">
                    <div class="total-text b-color fw-5 fs-6">Estimasi Harga :</div>
                    <div class="total-text b-color fw-5 fs-6">
                        <span id="totalHargaPesanan">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <button id="btnLanjutOrder" class="main-btn btn-hover w-100 fw-4 h_40 br-8">Lanjutkan</button>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (typeof window.jQuery === 'undefined') {
            console.error('jQuery is not loaded.');
            return;
        }
        var $ = window.jQuery;

        var TanggalKunjungan = Storage.get('TanggalKunjungan') || "";
        var JamKunjungan = Storage.get('JamKunjungan') || "";

        if(TanggalKunjungan!=""){
            $("#tanggalLayanan").val(TanggalKunjungan);
        }

        if(JamKunjungan!=""){
            $("#jamLayanan").val(JamKunjungan);
        }
        // Inisialisasi keranjang
        //renderKeranjangGrid();

        
        // Event listener untuk tombol lanjut order
        $('#btnLanjutOrder').on('click', function () {
            // Validasi apakah jenis properti sudah dipilih
            var keranjang = Storage.get('keranjang') || [];
            var JenisProperti = Storage.get('jenis_properti') || [];
            var Keluhan = Storage.get('keluhan') || [];
            
            if (Keluhan.length === 0) {
                showToast("Silakan pilih keluhan atau masalah Anda.", "myToast");
                $("#sessionKeluhan").focus();
                return;
            }

            if (keranjang.length === 0) {
                //alert('Silakan pilih layanan terlebih dahulu.');
                showToast("Silakan pilih layanan terlebih dahulu.!", "myToast");
                $("#sessionJasaLayanan").focus();
                return;
            }
            if (JenisProperti.length === 0) {
                showToast("Silakan pilih jenis properti Anda.", "myToast");
                $("#sessionJenisProperti").focus();
                return;
            }
            
            if($('#tanggalLayanan').val() === '') {
                showToast("Silakan pilih tanggal layanan.", "myToast");
                $("#sessionWaktu").focus();
                
                $("#tanggalLayanan").focus();
                return;
            }
            if( $('#jamLayanan').val() === '') {
                showToast("Silakan pilih jam layanan.", "myToast");
                $("#sessionWaktu").focus();
                $("#jamLayanan").focus();

                return;
            }

            Storage.set('TanggalKunjungan', $('#tanggalLayanan').val());
            Storage.set('JamKunjungan', $('#jamLayanan').val());

            Storage.set('id_layanan',@ViewData["IdLayanan"]);
            window.location.href = '@Url.Action("Index","CustomerInfo")'; // redirect biasa
            
        });
    });

</Script>