@{
    ViewData["Title"] = "Status";
    ViewData["Header"] = "2";
    ViewData["Footer"] = "1";
    ViewData["HeaderName"] = "Keranjang - Pesanan Anda";
    ViewData["SelectedFooter"] = "Cart";
}

<style>
    .accordion-minimal {
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    padding: 0;
    font-size: small;
    }
    .accordion-collapse ul {
        padding-left: 0; /* hilangkan padding list */
        margin-left: 0;
        width: 100%;
    }

    .accordion-collapse li {
        display: flex;
        justify-content: space-between; /* item kiri, harga kanan */
        padding: 0;
    }

    .accordion-minimal:focus {
    box-shadow: none;
    }
    .accordion-icon {
    transition: transform 0.3s ease;
    }
    .accordion-button.collapsed .accordion-icon {
    transform: rotate(0deg);
    }
    .accordion-button:not(.collapsed) .accordion-icon {
    transform: rotate(90deg);
    }
</style>

<div class="app-body pb-30">
    <div class="container mt-30 mb-30">
         <div class="text-center mb-4">
            <h3 class="fw-bold text-primary">
                <i class="bi bi-basket2 me-2"></i> Keranjang Pesanan Anda
            </h3>
            <p class="text-muted small">
                Periksa kembali detail pesanan Anda sebelum melanjutkan ke pembayaran.
            </p>
        </div>
        <div class="position-relative mb-4">
            <input class="form-control ps-5 pe-5 shadow-sm rounded-pill" type="text" placeholder="Cari"
                id="searchInput">
            <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"></i>
            <button type="button"
                class="btn btn-light btn-sm rounded-circle shadow-sm position-absolute top-50 end-0 translate-middle-y me-2"
                onclick="LoadListCart()" title="Segarkan">
                <i class="bi bi-arrow-clockwise text-primary"></i>
            </button>
        </div>
        <div id="ListPemesanan"></div>
    </div>
</div>

<script>    
    var $;

    document.addEventListener('DOMContentLoaded', function () {
        if (typeof window.jQuery === 'undefined') {
            console.error('jQuery is not loaded.');
            return;
        }
        $ = window.jQuery;
        var user = getUserInfo();
        if (!isValidUser(user)) {
            $("#TitleModalLogin").text("Silahkan login terlebih dahulu");
            $("#btnClsModalLogin").show();
            $('#ModalLogin').modal('show');
        }
        else {
            LoadListCart();
        }
    });

    function CloseModalLogin() {
        window.location.href = '@Url.Action("Index", "Home")';
        //$('#ModalLogin').modal('hide');
    }

    function LoadListCart() {
        var user = getUserInfo();
        callApi({
            url: '/api/Transaction/GetCart_ByUserId?Id=' + user.id,
            method: 'GET',
            success: function (data) {
                console.log(data);
                var html = "";

                if (!data || data.length === 0) {
                    html = '<p class="text-center text-muted py-4">Belum ada pesanan yang disimpan.</p>';
                    $('#ListPemesanan').html(html);
                }
                else {
                    html = $.map(data, function (item) {
                        var dtPesanan = '';
                        let TotalReg = 0;
                        item.cart_items.forEach(p => {
                            dtPesanan = dtPesanan +
                                `<li class="d-flex justify-content-between border-bottom">
                                    <span>${p.nama} &times; ${p.qty}</span>
                                    <span class="text-muted">${formatRupiah(p.sub_total)}</span>
                                </li>
                                `
                                ;
                            TotalReg = TotalReg+p.sub_total;
                        });
                        
                        

                        var paket = '';
                        if(Object.keys(item.paket).length > 0){
                            paket = `

                                <p class="d-flex justify-content-between">
                                    <span>${item.paket.deskripsi}</span>
                                    <span>${formatRupiah(TotalReg*item.paket.qty)}</span>
                                </p>
                                <p class="d-flex justify-content-between">
                                    <span>Diskon berlangganan</span>
                                    <span>- ${formatRupiah(((TotalReg*item.paket.qty)*item.paket.diskon)/100)}</span>
                                </p>
                                <strong class="d-flex justify-content-between">
                                    <span>Sub Total </span>
                                    <span class="">${formatRupiah(item.paket.total)}</span>
                                </strong>

                            `;
                        }
                        
                        
                        let regmember ="";
                        if(item.jenis_layanan == "MEMBER")
                        {
                            regmember = `<span class="text-danger">Berlangganan</span>`;
                        }
                        else{
                            regmember = `<span class="text-dark">Reguler</span>`;
                        }
                        
                        paket = paket +
                        `
                            <p class="d-flex justify-content-between">
                                <span>Biaya Properti ${item.properti.nama_jenis}</span>
                                <span>${formatRupiah(item.properti.harga)}</span>
                            </p>
                            
                            <strong class="d-flex justify-content-between pt-20">
                                <span>Total Transaksi</span>
                                <span class="">${formatRupiah(item.total_transaksi)}</span>
                            </strong>
                        `
                        ;
                        var scr = "";
                        scr =`
                            <div class="card mb-3 position-relative shadow-sm border-1 p-3">
                                <!-- Header Pesanan -->
                                <div>
                                    <h5 class="card-title mb-1 fw-bold">
                                        <span class="text-primary">ACD - ${formatToSixDigits(item.id)}</span>
                                    </h5>
                                    
                                    <p class="card-text mb-0">
                                        <span class="text-dark">Layanan ${item.kategori_layanan}</span> - ${regmember}<br>
                                        Total Pesanan:
                                        <span class="fw-semibold text-success">${formatRupiah(item.total_transaksi)}</span>
                                    </p>
                                </div>

                                <!-- Accordion Detail Order -->
                                <div class="mt-1 w-100">
                                    <button class="accordion-minimal accordion-button collapsed p-0 border-0 bg-transparent"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOrder${item.id}"
                                        aria-expanded="true" aria-controls="collapseOrder">
                                        <span class="me-2 accordion-icon">▶</span>
                                        <strong class="text-muted">Detail Order</strong>
                                    </button>

                                    <div id="collapseOrder${item.id}" class="accordion-collapse collapse mt-2 w-100 mb-30">
                                        <ul class="list-unstyled mb-0" style="font-size: small;">
                                            ${dtPesanan}
                                        </ul>
                                        ${paket}
                                    </div>
                                </div>

                                <!-- Tombol Delete (pojok kanan atas) -->
                                <button onclick="DeletePesanan(${item.id});" 
                                    class="btn btn-outline-danger btn-sm position-absolute top-0 end-0 m-2"
                                    style="border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center;">
                                    <i class="bi bi-x" style="font-size: 1rem;"></i>
                                </button>

                                <!-- Tombol Detail (pojok kanan bawah) -->
                                <button onclick="DetailPesanan(${item.id},'btnDetail${item.id}');" 
                                    class="btn btn-success btn-sm position-absolute bottom-0 end-0 m-2"
                                    id="btnDetail${item.id}"
                                    style="border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center;">
                                    <i class="bi bi-arrow-right" style="font-size: 1rem;"></i>
                                </button>
                            </div>



                        `;
                        
                        return scr;
                    }).join('');

                    $('#ListPemesanan').html(html);
                }
            },
            error: function (err) {
                $('#ListPemesanan').html('<p class="text-center text-muted py-4">Belum ada pesanan yang disimpan.</p>');
                @* alert('Error: ' + err); *@
            },
            onBeforeSend: function () {
                $('#ListPemesanan').html('<p class="text-center text-muted py-4">sedang memuat data.....</p>');
            },
        });
    }

    function DetailPesananV1(Id) {
        callApi({
            url: '/api/Pemesanan/GetPemesananById?id=' + Id,
            method: 'GET',
            success: function (data) {
                //console.log(data);
                data.forEach(item => {
                    Storage.set('keranjang', item.Pesanan);
                    Storage.set('keluhan', item.Keluhan);
                    Storage.set('jenis_properti', item.Properti);
                    Storage.set('TanggalKunjungan', item.tanggal_kunjungan);
                    Storage.set('JamKunjungan', item.jam_kunjungan);
                    Storage.set('Total', item.total);
                    Storage.set('id_layanan', item.id_layanan)
                    let dataCustomer = {
                        "nama": item.nama,
                        "whatsapp": item.whatsapp,
                        "catatan": item.catatan,
                        "lokasi": item.lokasi,
                        "alamat": item.alamat
                    }
                    Storage.set('Customer', dataCustomer);
                    Storage.set('IdPesanan', Id);
                });


                var res = getStoragePemesanan();
                if (res != null) {
                    window.location.href = '@Url.Action("Index", "Pembayaran")';
                }

                //console.log(res);
                @* var JenisProperti = Storage.get('jenis_properti') || [];
                var Keluhan = Storage.get('keluhan') || [];
                var TanggalKunjungan = Storage.get('TanggalKunjungan') || '';
                var JamKunjungan = Storage.get('JamKunjungan') || '';
                var Total = Storage.get('Total') || 0;
                var Customer = Storage.get('Customer') || [];  *@
            },
            error: function (err) {
                alert('Error: ' + err);
            }
        })
    }

    function DeletePesanan(IdPemesanan) {
        Swal.fire({
            title: 'Yakin hapus pesanan ini?',
            text: "Tindakan ini tidak bisa dibatalkan!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya, hapus!',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.isConfirmed) {
                callApi({
                    url: '/api/Transaction/DeleteCart/'+IdPemesanan,
                    method: 'DELETE',
                    success: function (data) {
                        Swal.fire('Dihapus!', 'Pesanan berhasil dihapus.', 'success');
                        LoadListCart();
                    },
                    error: function (err) {
                        alert('Error: ' + err);
                        Swal.fire('Gagal!', 'Pesanan berhasil gagal dihapus.', 'warning');
                        LoadListCart();
                    }
                })
            }
        });
    }
</script>
